html {
    scroll-behavior: smooth;
}


/* Navbar */

.navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.9;
}


/* HOME */

.jumbotron {
    background-image: url(../img/jumbotron_sekolah.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    height: 400px;
    opacity: 0.9;
}

.jumbotron .lead {
    font-size: 32px;
}

.nav-custom-home p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.jumbotron .display-4 {
    color: white;
    font-size: 38px;
    margin-top: 75px;
    font-weight: bold;
}

.jumbotron p {
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-weight: thin;
    margin-top: 1em;
}

.about-home p {
    font-size: 12px;
}


/* DESKTOP */

@media (min-width: 992px) {
    .navbar {
        height: 100px;
    }
    .jumbotron {
        height: 700px;
    }
    .jumbotron .display-4 {
        font-size: 62px;
    }
}


/* Tablet */

@media (min-width: 768px) {
    .jumbotron {
        height: 800px;
    }
    .jumbotron .display-4 {
        margin-top: 150px;
    }
}

@media (max-width:320px) {
    .jumbotron .display-4 {
        font-size: 28px;
    }
    .jumbotron .lead {
        font-size: 20px;
    }
}

@media (max-width:600px) {
    #img {
        width: 300px;
    }
}


/* HOME */